:root {
    --borderstyle: solid;
    --textalign: center;
    --font_code: Menlo,Consolas,Monaco,Liberation Mono,Lucida Console,monospace;
    --code_align: left;
}

* {
    color: grey;
    background-color: black;
    border-color: forestgreen;
    border-style: dashed;
}

header {
    text-align: var(--textalign);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-style: solid;
    height: 100px;
}

header .header_name {
    margin-left: 0px;
    padding-left: 40px;
    border-style: none;
    background-color: lightgreen;
}

header .header_links {
    border-style: none;
}

header h1 {
    font-size: 50px;
    background-color: transparent;
    border-style: none;
}

header nav ul {
    list-style: none;
    display: flex;
    border-style: none;
}

header nav li {
    border-style: none;
}

#image_header {
    background-image: url("../Assets/images/banner.png");
    background-size: contain;
    background-position: center;
    display: flex;
    justify-content: right;
    height: 100px;
    border-style: none;
}

#image_header #image_header_subtitle {
    margin-right: 0px;
    padding-right: 0px;
    border-style: none;
    
}

.row {
    display: flex;
    direction: horizontal;
}

.row .row_title {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    flex-basis: 15%;
    flex-grow: 0;
    text-align: right;
    padding-right: 15px;
    font-size: 35px;
}

.row .row_content {
    flex-basis: 85%;
    flex-grow: 0;
}

#link_tiles {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

/* .link_tile {
    flex-basis: calc(100% - 10px);
    margin: 5px;
} */

.link_tile {
    flex-basis: calc(50% - 10px);
    margin: 5px;
}

footer {
    font-family: var(--font_code);
    text-align: var(--textalign);
    padding: 10px;
    margin: 10px;
}

/* 

#intro {
    text-align: var(--textalign);
    margin: 40px 10px 40px 10px
}

.cards {
    text-align: var(--textalign);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 992px;
}

.card_title {
    border-style: var(--borderstyle);
    text-align: var(--textalign);
    width: 90%;
    margin: -10px 20px 20px 20px;
    position: relative;
}

.card_subtitle {
    text-align: var(--textalign);
    font-size: 75%;
    margin: 10px 2px 10px 2px;
}

.card_ind {
    width: 300px;
    margin: 20px 10px 20px;
    border-style: dashed;
}

.language-css {
    font-family: var(--font_code);
    text-align: var(--code_align);
    border-style: var(--borderstyle);
    margin: 10px;
    padding: 10px;
    font-size: 10px;
    background-image: linear-gradient(
        rgba(232, 102, 236, 0.3) 0%,
        rgba(232, 102, 236, 0.6) 100%
    );
    min-height: 100px
}

.css_code {
    background: transparent;
    color: lightgray;
}

footer {
    font-family: var(--font_code);
    text-align: var(--textalign);
}

.card_ind .card_title {
    border-radius: 8px;
    transition: all 0.5s ease-in-out;
}

.card_ind:hover,
.card_ind:hover .card_title {
    box-shadow: inset 0px 0px 8px
    rgba(232, 102, 236, 1), 0 0 15px
    rgba(232, 102, 236, 1);
}

.language-css:hover,
.language-css:hover .css_code {
    user-select:all;
}


@media screen and (max-width: 767px) {
    .cards {
        flex-direction: column;
        align-items: center;
    }
} */